html
  head
    title Dance Website  - #{title}
    block scripts
    block style 
  body
    nav#navbar
            ul 
                div#logo
                    img(src="/public/logo1.png")
                    | PDNA
                li #[a Home]
                li #[a Enquire]
                li #[a Compete]
                li #[a Classes]
                
    block content
    
    block foot
    footer#footer
            | © 2024 PDNA Dance Private Limited | All rights reserved